div{
    font-family: Arial;
}

.rodape {
    text-align: center;
    font-family: Arial;
}


#email:hover {
    text-decoration: underline;
    color: #00BFFF;
}
    
#github:hover {
    text-decoration: underline;
    color: #00BFFF;
}